<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Site.Title }}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap">
    <link rel="stylesheet" href="{{ "css/styles.css" | relURL }}">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css" />    

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark top-header fixed-top">
        <a class="navbar-brand" href="/"><img src="/images/logo-small.png" alt="BITPUNCH Logo" class="logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link" href="#portfolio">Games</a></li>
                <li class="nav-item"><a class="nav-link" href="#news">News</a></li>
                <li class="nav-item"><a class="nav-link" href="#about">About</a></li>
                <li class="nav-item"><a class="nav-link" href="#jobs">Jobs</a></li>
                <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
            </ul>
        </div>
    </nav>

    <section class="banner">
        <div class="banner-slider">
            {{ $pages := where .Site.RegularPages "Section" "games" | first 3 }}
            {{ range $pages }}
            <div>
                <a href="{{ .Permalink }}">
                    <img src="{{ .Params.image_banner | relURL }}" alt="{{ .Title }}" class="img-fluid">
                </a>
            </div>
            {{ end }}
        </div>
    </section>

<!--
    <section class="banner">
        <div class="banner-content text-center">
            <img src="{{ "images/banner-main-title.png" | relURL }}" alt="Banner Logo" class="img-fluid">
            <div class="text-left">
            <h3>Games That Hit</h3>
            <p>A creative studio working on next-gen games.</p>
            <p>Stay tuned for our first release!</p>
            </div>
        </div>
    </section>
-->

    <div class="divider"></div>

    <section id="portfolio" class="container my-5">
        <h2 class="text-center">Our Games</h2>
        <div class="row no-gutters">
            {{ range first 4 (where .Site.RegularPages "Type" "games") }}
            <div class="col-md-3 col-sm-6">
                <div class="game-item">
                    <a href="{{ .Permalink }}">
                        <img src="{{ .Params.image_thumb | relURL }}" alt="{{ .Title }}">
                    </a>
                </div>
            </div>
            {{ end }}
        </div>
    </section>


    <div class="divider"></div>

    <section id="news" class="container my-5">
        <h2 class="text-center">Latest News</h2>
        <div class="row">
            {{ range first 3 (where .Site.RegularPages "Type" "news") }}
            <div class="col-md-4 mb-4">
                <a href="{{ .Permalink }}" class="text-decoration-none">
                    <div class="card p-3 h-100">
                        <h3>{{ .Title }}</h3>
                        <p>{{ .Date.Format "02-01-2006" }}</p>
                        <p>{{ .Summary }}</p>
                    </div>
                </a>
            </div>
            {{ end }}
        </div>
        <div class="text-center">
            <a href="/news" class="btn btn-gray">View More News</a>
        </div>
    </section>

    <div class="divider"></div>

    <section id="about" class="container-fluid my-5 bg-light-gray full-height">
        <h2 class="text-center text-dark">About Us</h2>
        <p class="text-center text-dark">BITPUNCH is a young and dynamic game development company creating cutting-edge games for the online casino industry. Our team is dedicated to delivering high-quality gaming experiences that captivate and entertain players worldwide. We blend creativity with technology to produce games that not only look stunning but also provide an immersive and engaging experience. Join us on our journey to revolutionize the online gaming world!</p>
    </section>

    <div class="divider"></div>

    <section id="jobs" class="container my-5">
        <h2 class="text-center">Join Our Team</h2>
        <div class="row">
            {{ range first 3 (where .Site.RegularPages "Type" "jobs") }}
            <div class="col-md-4 mb-4">
                <a href="{{ .Permalink }}" class="text-gray text-decoration-none">
                    <div class="card p-3 h-100">
                        <h3>{{ .Title }}</h3>
                        <p>{{ .Summary }}</p>
                        <a href="#contact" class="btn btn-gray">Apply Now</a>
                    </div>
                </a>
            </div>
            {{ end }}
        </div>
        <div class="text-center">
            <a href="/jobs" class="btn btn-gray">View All Jobs</a>
        </div>
    </section>

    <div class="divider"></div>

    <section id="contact" class="container my-5">
        <h2 class="text-center">Contact Us</h2>
        <div class="row">
            <div class="col-md-8">
                <form action="mailto:info@bitpunch.io" method="post" enctype="text/plain"  class="contact-form">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" id="name" name="name" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" id="email" name="email" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="subject">Subject</label>
                        <input type="text" id="subject" name="subject" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="message">Message</label>
                        <textarea id="message" name="message" class="form-control" required></textarea>
                    </div>
                    <button type="submit" class="btn btn-gray btn-block">Send</button>
                </form>
            </div>
            <div class="col-md-4">
                <p>If you have any questions or inquiries, feel free to reach out to us through the contact form. We're here to help and look forward to hearing from you!</p>
                <h4>Where to Find Us</h4>
                <p>1600 Amphitheatre Parkway</p>
                <p>Mountain View, CA</p>
                <p>94043 US</p>
                <h4>Email Us At</h4>
                <p>contact@glintsite.com</p>
                <p>info@glintsite.com</p>
                <h4>Call Us At</h4>
                <p>Phone: (+63) 555 1212</p>
                <p>Mobile: (+63) 555 0100</p>
            </div>            
        </div>
    </section>

    <div class="divider"></div>

    <footer class="footer text-center text-md-left">
        <div class="container">
            <div class="row">
                <div class="col-md-4 footer-column">
                    <h3>Social Media</h3>
                    <a href="#"><i class="fab fa-facebook"></i>Facebook</a>
                    <a href="#"><i class="fab fa-twitter"></i>Twitter</a>
                    <a href="#"><i class="fab fa-linkedin"></i>LinkedIn</a>
                </div>
                <div class="col-md-4 footer-column">
                    <h3>Site Links</h3>
                    <a href="#">Link 1</a>
                    <a href="#">Link 2</a>
                    <a href="#">Link 3</a>
                </div>
                <div class="col-md-4 footer-column">
                    <h3>Partners</h3>
                    <a href="#">Partner 1</a>
                    <a href="#">Partner 2</a>
                    <a href="#">Partner 3</a>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('.banner-slider').slick({
                autoplay: true,
                autoplaySpeed: 3000,
                dots: true,
                arrows: false,
                fade: true,
                cssEase: 'linear'
            });
        });
    </script>    
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
